
.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 5fr);
  grid-gap: 160px;
  grid-auto-rows: 100px;
}



body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAoMLt9wrEWl4GfcWt2I7oqIstMS8Q4inUbmKDNJ43j5126NYk");
    background-repeat: no-repeat;
	background-size: 2000px 1000px;
	background-color: #ffb096;
}

p {
	color: black;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
	text-align: center;
}


h3 {
	color: #f76707;
	font-family: 'Cinzel', serif;
}


.wrapper {
    border: 2px solid #f76707;
    border-radius: 1px;
    background-color: black;
}

.wrapper > div {
    
    background-color: black;
    padding: 3em;
	float: center;
	text-align: center;
	display: black;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}



.wrapper a:hover {
	color: #f76707;
}


.column {
  float: right;
  width: 15.00%;
  padding: 20px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}