
#navbar {
  overflow: hidden;
  background-color: black;
  font-family: 'Cinzel', serif;
  border-color: #f5bb0e;

}

#navbar:hover {
	background: #f5bb0e;
	color: yellow;
}

.navbar a:hover {
	color: white;
}

#navbar a{
	float: center;
	display: block;
	color: #ff782a;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}


body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAoMLt9wrEWl4GfcWt2I7oqIstMS8Q4inUbmKDNJ43j5126NYk");
    background-repeat: no-repeat;
	background-size: 2000px 1000px;
	background-color: #ffb096;
}