#navbar {
  overflow: hidden;
  background-color: black;
  font-family: 'Cinzel', serif;
  border-color: #f5bb0e;

}


.wrapper {
  display: grid;
  grid-template-columns: repeat(10, 5fr);
  grid-gap: 160px;
  grid-auto-rows: 100px;
}


.wrapper {
    border: 2px solid #f76707;
    border-radius: 1px;
    background-color: black;
}

.wrapper > div {
    
    background-color: black;
    padding: 3em;
	float: center;
	text-align: center;
	display: black;
	color: #f76707;
	text-align: center;
	padding: 14px;
	text-decoration: none;
}

.column {
  float: center;
  width: 25.00%;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.wrapper a:hover {
	color: #f76707;
}

h2 {
	color: #f76707;
	font-family: 'Cinzel', serif;
	font-size: 18px;
}

p {
	color: black;
	font-size: 18px;
	font-family: 'Slabo 27px', serif;
}

body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSAoMLt9wrEWl4GfcWt2I7oqIstMS8Q4inUbmKDNJ43j5126NYk");
    background-repeat: no-repeat;
	background-size: 2000px 1000px;
	background-color: #ffb096;
}